*{
    font-family: 'Roboto', sans-serif;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
        font-size: 24px;
        color: #f9faf8;
    }

.hero h1 {
        font-size: 48px;
        color: #f9faf8;
        font-weight: 800;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.menu-container {
    display: flex;
    justify-content: space-around ; 
    width: 100%;
    background-color: #1F2937;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #1F2937;
    padding-bottom: 50px;
}

img{
    height: auto;
    width: 400px;

    margin-top: 50px;
}
.menu li {
    width: 100%;
}
.menu ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

ul div {
    height: 150px;
    width: 140px;
    border: 3px solid #3882f6;
    border-radius: 10px;


}

#h2 {
    padding-top: 50px;
    background-color: #f9faf8;
}

.cards-cont {
    background-color: #f9faf8;
    height: 500px;
}
.cards ul {
    margin-top: 50px;   
    color: #1F2937;
    background-color: #f9faf8;
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-self: center;
}
.hero-left {
    width: 400px;
    height: auto;
}
.hero {

    gap: 100px;  
}
.cards{
    display: flex;
    justify-content: center;
    background-color: #f9faf8;
   
}
.cards li {
    border-radius: 10px;
}
.cards p {
    background-color: #f9faf8;
    color: black;
}

li img {
    width: 100%;
    height: 100%;
}

p{
    padding-right: 50px;
}

li {
    width: 200px;
    height: 150px;
}

#h2 {
    text-align: center;
    margin-top: 50px;
    color: #1F2937;
}

li p{
    text-align: center;
    width: 150px;
}

img {
    background-color: #f9faf8;
}

.quote {

    display: flex;
    width: 700px;
    justify-self: center;
    background-color: #e5e7eb;
}

.quote h2 {
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
    font-weight: light italic;

}
.quote-cont {
    background-color: #e5e7eb;
}
.thor 
    {
        margin-right: 600px;
        text-align: right;
        background-color: #e5e7eb;
        color: #1F2937;
        padding-bottom: 50px;
        font-weight: bold;
}



.text,
.text p {
    padding-left: 50px;
    background-color: #3882f6;
    color: #f9faf8;
}
button {
    width: 100px;
    height: 30px;
    background-color: #3882f6;
    border-radius: 10px;
    text-align: center;
    border: none;
}

.text h2 {
    padding-left: 50px;
    background-color: #3882f6;
    text-align: left;
    color: #f9faf8;
   
}

.signup button {
    color: #f9faf8;
    background-color: #3882f6;
    border: 1px solid #f9faf8;
    border-radius: 10px;}

    .signup {
        
        display: flex;
        justify-content: center;
        justify-self: center;
        align-items: center;
        background-color: #3882f6;
        margin-bottom: 20px;
        width: 800px;
        border-radius: 10px;
    }

    .wrapbutt {
        background-color: #3882f6;
    }

    footer {
        padding: 20px;
        text-align: center;
        background-color: #1F2937;
        color: #f9faf8;
    }